.header {
  background-color: #2a50ff;
  background: linear-gradient(125deg, #2a50ff 0%, #fd66c3 100%);
  display: flex;
  justify-content: flex-end;
}

.header nav {
  display: flex;
}

.header a {
  color: #fff;
  padding: 0.75rem;
  text-decoration: none;
}

.header a.active {
  background-color: #0005;
}

.header a:hover {
  background-color: #0008;
}
