.button {
  border: none;
  color: var(--white);
  font-weight: 700;
  background-color: var(--blue);
  border-radius: 0.5rem;
  padding: 1rem;
  transition-duration: 250ms;
}

.button:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
}
