.modal {
  background-color: var(--white);
  color: black;
  padding: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: calc(320px - 2rem);
  min-height: 12rem;
  max-width: calc(100% - 2rem);
  max-height: 80vh;
}

.modal[open] {
  display: flex;
  flex-direction: column;
}

.modal > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: unset;
}

::backdrop {
  background-color: rgba(0 0 0 / 10%);
}

.close-btn {
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn::before {
  content: '';
  display: block;
  height: 1rem;
  width: 1rem;
  background-color: black;
  clip-path: polygon(
    10% 0,
    0 10%,
    40% 50%,
    0 90%,
    10% 100%,
    50% 60%,
    90% 100%,
    100% 90%,
    60% 50%,
    100% 10%,
    90% 0,
    50% 40%
  );
}
