.personal {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
  grid-template: 'first-name last-name' 'email email' / 1fr 1fr;
}

.first-name {
  grid-area: first-name;
}

.last-name {
  grid-area: last-name;
}

.email {
  grid-area: email;
}

.liability-link {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 639px) {
  .personal {
    grid-template: 'first-name' 'last-name' 'email' / 1fr;
  }
}
